@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}


/* header */
#header {
    width: 100%;
    display: flex;
}

#header .logo {
    width: 200px;
    height: 100px;
    background-color: #999;
}

#header .nav {
    width: 1000px;
    height: 100px;
    background-color: #aaa;
}
/* header */


/* slider */
#slider {
    width: 100%;
    height: 300px;
    background-color: #888;
}
/* slider */

/* contents */
#contents {
    width: 100%;
    display: flex;
}

#contents .content1 {
    width: 33.3%;
    height: 200px;
    background-color: #777;
}
#contents .content2 {
    width: 33.3%;
    height: 200px;
    background-color: #666;
}
#contents .content3 {
    width: 33.3%;
    height: 200px;
    background-color: #555;
}
/* contents */

/* footer */
#footer {
    width: 100%;
    display: flex;
}

#footer .footer1 {
    width: 20%;
    height: 100px;
    background-color: #888;
}
#footer .footer2 {
    width: 60%;
    height: 100px;
    background-color: #999;
}
#footer .footer3 {
    width: 20%;
    height: 100px;
    background-color: #aaa;
}
/* footer */